@import url('./navbar.css');

@font-face {
  font-family: 'monserrat/italic';
  src: url('/public/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'monserrat';
  src: url('/public/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body{
    font-family: 'monserrat', sans-serif;
}


